
.y2_tableInput_wrapper .y2_tableInput_head_div {
    background-color: #F5F5F5;
}
.y2_tableInput_wrapper table {
    table-layout: fixed;
    border-collapse: collapse;
}
.y2_tableInput_wrapper .pdr_17 {
    padding-right:17px;
}

.y2_tableInput_wrapper .y2_tableInput_head_tr td {
    background-color: #F5F5F5;
    font: bold 13px/15px helvetica, arial, verdana, sans-serif;
    border: 0.5px solid #C0C0C0;
    height: 2em;
    line-height: 2em;
    padding-left: 2px;
    width: 100px;
    color: #666;
    /*禁止文本被选中*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.y2_tableInput_line {
    width:1px;
    height:100%;
    background-color:black;
    position:absolute;
    z-index:5;
}
